<div ng-show="List.length>0">
    <hr />
    <ul uib-pagination first-text="首页" previous-text="上一页" next-text="下一页" last-text="末页" total-items="totalItems" ng-model="currentPage" items-per-page="pageSize" ng-change="getList()" class="pagination-sm" boundary-link-numbers="true" rotate="false"></ul>
</div>